# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/

# Ignore all CSV & XLSX by default
*.csv
*.xlsx

# But keep important ones in data/ and reports/
!data/*.csv
!reports/*.xlsx
